body {
  background-color: lightyellow;
}

h1,
p {
  text-align: center;
}

a {
  margin: 50 auto;
  padding: 100px;
}

img {
  display: block;
  margin: 0 auto;
  padding: 100px;
}
